<div class="container-fluid">

   <div class="jumbotron">

      <div id = 'navigation' class="bg-dark">
         <a class="navbar-brand" routerLink = "accesspage"><b>Meals Tracker App</b></a>
      <hr>
       <div class="route">
         <a class="routelink" routerLink="/meals" routerLinkActive="active"> INPUT MEAL </a> ||
         <a class="routelink" routerLink="/calories" routerLinkActive="active"> CALORIES </a>
       </div>
      </div>

   </div>

</div>

<router-outlet></router-outlet>

<!-- This is the selecter that displays foods in the array -->
   <app-main-meal></app-main-meal>




